* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", serif;
  color: white;
}

html body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 110px;
  /* background-color: black; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 125px;
  gap: 47px;
  position: fixed;
  z-index: 99;
}

#nav img {
  height: 70px;
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 400;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

#main {
  position: relative;
  background-color: rgba(19, 1, 1, 0.466);
}
#page1 {
  height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#page1 h1 {
  font-size: 100px;
  font-weight: 900;
  margin-top: 10px;
  position: relative;
}
/* PSEUDO CODE IN CSS */
#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -4px;
  left: -6px;
  -webkit-text-stroke: 2px #95c11e;
  z-index: -1;
}
#page1 h2 {
  font-size: 25px;
  font-weight: 700;
  padding: 10px;
}
#page1 p {
  font-size: 15px;
  width: 40%;
  text-align: center;
}
#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 10;
}
/* #page2 h4{
    color: white;
    position: relative;
    justify-content: space-between 5px;
    text-transform: uppercase;
    } */
#scroller {
  /* background-color: #95c11e; */
  white-space: nowrap;
  /* for sideways moving animation  */
  overflow-x: auto;
  overflow-y: hidden;
  position: relative;
  z-index: 10;
}
#scroller::-webkit-scrollbar {
  display: none;
}
#scoller-in {
  display: inline-block;
  white-space: nowrap;
  animation-name: move;
  animation-duration: 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#scroller h4 {
  display: inline-block; /*to take the all the text in one block */
  font-size: 180px;
  font-family: "Atkinson Hyperlegible Next", serif;
  text-transform: uppercase;
  font-weight: 900px;
  margin-right: 25px;
  transition: all linear 0.3s;
  -webkit-text-stroke: 1px white;
  color: black;
}
@keyframes move {
  from{
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
